.home{
    .title{
        font-size: 30px;
        line-height: 34px;
        font-weight: 300;
    }
    .subtitle{
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
    }
}